* {
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    width: 90%;
    margin: auto;    
}
.img {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 25px;
    width: 100%;
}
a {
    text-decoration: none;
}
.a {
    display: block;
    margin: 5px;
}
.button {
    background-color: #28AFB0; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.not-allowed{
    cursor: not-allowed! important;
    opacity: .50;
}

.button:hover {
    opacity: .75;
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .row{   
        flex-direction: column;
    }

}
