h1, h2, h3, h4 {
    font-family: typewriter;
}

h1, h3 {
    margin: 12px;
}
.Thumb {
    width: 55px;
    height: auto;
    display: line;
    padding: 7px;
}
@font-face {
    font-family: typewriter;
    src: url(../../fonts/SpecialElite.ttf);
}
.header {
    padding: 6px;
    text-align: center;
    background: url(../../images/background.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
}

.overlay {
    text-align: center;
    background-color: white;
    width: 255px;
    top: 15%;
    display: inline-block;
    position: relative;
    color: black;
    opacity: 0.8;
    z-index: 10;
}
.text {
    z-index: 20;
    opacity: 1;

}
.no-dec {
    text-decoration: none;
    color: black;
}